.polska {
  fill: steelblue;
}

.city {
  /*cursor: crosshair;*/
  fill: rgba(255, 0, 0, 0.5);
  stroke: rgba(0, 0, 0, 1);
  stroke-width: 0px;
  opacity: 0.4;
}

.city:hover {
  stroke-width: 1px;
}

.dziedzina {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 13px;
  fill: #333;
  cursor: default;
}

.dziedzina:hover {
  fill: #000;
  stroke: #000;
  stroke-width: 0.7px;
}

.rok {
  fill: #333;
  font-size: 13px;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  cursor: default;
}

#stopka {
  position: absolute;
  top: 530px;
  left: 580px;
  padding: 12px;
  /*width: 300px;*/
  /*background: rgba(230, 230, 230, 0.85);*/
  /*color: #222;*/
  border: solid 1px #aaa;
  border-radius: 4px;
  z-index:20;
  font-size: 13px;
  cursor: default;
}

a:link { color:#33a; text-decoration: none; }
a:visited { color:#833; text-decoration: none; }
a:hover { color:#aaa; text-decoration: none; }